@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  width: auto;
  max-width: 100%;
  font-family: "Montserrat";
  color: var(--white);

  &.blocked-scroll {
    overflow: hidden;
  }
}