<template>
  <div class="about">
    <p class="about__text">{{ description }}</p>
    <img class="about__image" src="/about.jpg" alt="">
  </div>
</template>


<script setup>
const props = defineProps({
  description: {
    type: String,
  },
});
</script>
<style lang="scss" scoped>
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  padding: 16px;
  background-color: black;
  position: relative;

  @media (max-width: 500px) {
     display: flex;
    flex-direction: column;
    padding: 0;

  }

  &__image {
    display: block;
    width: 100%;

    @media (max-width: 500px) {
      
      z-index: 0;
      opacity: 0.5;      
      margin-top: -80px;
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
   

    @media (max-width: 500px) {
      // text-align: center;
      z-index: 1;
      // font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      padding: 0 24px;
    }
  }
}
</style>
