<template>
  <div class="contacts">
    <img class="contacts__image" src="/contacts-bg.png" alt="">
    <div class="contacts__body">
      <div class="contacts__section">
        <p class="contacts__text">
          Feel free to contact us any time. We will get back to you as soon as we can!
        </p>
        <form class="contacts__form">
          <Input v-model="form.name" type="text" title="Name" placeholder="Name" />
          <Input v-model="form.email" type="email" title="Email" placeholder="example@mail.com" />
          <Input textarea v-model="form.message" type="textarea" title="Message" placeholder="..." />
          <button :disabled="!form.name && !form.email && !form.message" @click.prevent="sendForm"
            class="contacts__button">Send</button>
        </form>
      </div>
      <div class="contacts__info">
        <a v-if="props.contacts.phone" :href="'tel:' + props.contacts.phone" class="contacts__info-item">
          <div class="contacts__info-icon">
            <Icon iconName="phone" />
          </div>
          <p class="contacts__info-text">{{ props.contacts.phone }}</p>
        </a>
        <a v-if="props.contacts.email" :href="'mailto:' + props.contacts.email" class="contacts__info-item">
          <div class="contacts__info-icon">
            <Icon iconName="email" />
          </div>
          <p class="contacts__info-text">{{ props.contacts.email }}</p>
        </a>
        <div v-if="props.contacts.address" class="contacts__info-item">
          <div class="contacts__info-icon">
            <Icon iconName="point" />
          </div>
          <p class="contacts__info-text">{{ props.contacts.address }}</p>
        </div>
      </div>
      <div class="contacts__follow" v-if="props.contacts.instagram || props.contacts.twitter || props.contacts.fb">
        <p class="contacts__follow-text">Follow us</p>
        <div class="contacts__follow-socials">
          <a :href="props.contacts.instagram" v-if="props.contacts.instagram" class="contacts__follow-icon">
            <Icon iconName="instagram" />
          </a>
          <a :href="props.contacts.twitter" v-if="props.contacts.twitter" class="contacts__follow-icon">
            <Icon iconName="twitter" />
          </a>
          <a :href="props.contacts.fb" v-if="props.contacts.fb" class="contacts__follow-icon">
            <Icon iconName="facebook" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { ref } from "vue";

import Input from '@/components/Input.vue'
import Icon from "@/components/Icon.vue";

const props = defineProps({
  contacts: {
    type: Object,
  },
});

const form = ref({
  name: '',
  email: '',
  message: ''
})

const sendForm = async () => {
  try {
    const { data } = await axios.post(
      `https://app.smokyhookah.ae/api/add-message`,
      {
        name: form.value.name,
        email: form.value.email,
        message: form.value.message
      },
      {
        headers: {
          "Content-Type": "multipart/form-data",
          "Accept-Language": "ru-RU",
        },
      }
    );
    form.value.name = ''
    form.value.email = ''
    form.value.message = ''
  } catch (error) {
    console.log(form);
    console.log(error);
  }
  finally {

  }
}
</script>

<style lang="scss" scoped>
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;

  @media (max-width: 500px) {
    // padding: 0 10px;
  }

  &__image {
    width: 100%;
    margin-bottom: 36px;
    // position: absolute;
  }

  &__form {
    display: flex;
    flex-direction: column;
    // padding-top: 44px;
    gap: 16px;
    align-items: center;
  }

  &__body {
    // padding-top: 100px;
    margin-top: -160px;
  }

  &__section {
    padding: 0 10px;
  }

  &__button {
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 153px;
    height: 34px;
    background: linear-gradient(0deg, #DFBB71, #DFBB71), #D9D9D9;

    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
    transition: transform 0.5s ease;

    &:hover {
      transform: translateX(10px);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 67px;
    gap: 26px;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    &-icon {
      color: #fff;
      width: 16px;
      height: 16px;
    }

    &-text {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;

      @media (max-width: 500px) {
        max-width: 190px;
      }
    }
  }

  &__follow {
    padding-top: 38px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-socials {
      display: flex;
      gap: 24px;
      padding-top: 24px;
    }

    &-text {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }


    &-icon {
      color: #fff;
      width: 24px;
      height: 24px;
      transition: transform 0.3 ease;

      &:hover {
        transform: scale(1.3);
        color: var(--gold);
      }
    }
  }
}
</style>
