<template>
  <div class="footer">
    <img class="footer__logo" src="/logo-small.png" alt="">
    <a href="#">
      <img class="footer__app" src="/app.svg" alt="">
    </a>
    <p class="footer__text">©smookyhookah.ae</p>
  </div>
</template>

<style lang="scss">
.footer {
  padding: 16px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
   flex-direction: column;
   gap: 10px;
  }

  &__logo {
    width: 64px;
  }

  &__app {
    width: 164px;
  }

}
</style>