<template>
  <div class="hookahs">
    <a href="#hookahs" @click="openDialog(hookah.id)" class="hookahs__item" v-for="(hookah, index) in sortedHookahs"
      :key="index">
      <div class="hookahs__label" v-if="hookah.is_new">
        <span class="hookahs__label-text">New</span>
        <img src="/label.svg">
      </div>
      <div class="hookahs__cover">
        <img class="hookahs__image" :src="hookah.image" alt="">
      </div>
      <p class="hookahs__name">{{ hookah.name }}</p>
      <p class="hookahs__price">{{ hookah.cost }} AED</p>
    </a>
    <Transition>
      <Modal v-model:show="dialogVisible">
        <Hookah :currenHookah="currenHookah" :hookahs="sortedHookahs" />
      </Modal>
    </Transition>
  </div>
</template>


<script setup >
import { ref, computed } from "vue";

import Modal from '@/components/Modal.vue'
import Hookah from '@/components/Hookah.vue'

const props = defineProps({
  hookahs: {
    type: Array,
  },
});
const sortedHookahs = computed(() => props.hookahs.sort((a, b) => a.order - b.order))


let dialogVisible = ref(false)

const currenHookah = ref(0)

const openDialog = (id) => {
  currenHookah.value = id
  dialogVisible.value = true;
}
</script>

<style lang="scss" scoped>
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(130px);
}

.hookahs {
  $this: &;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 12px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }


  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0.6) 0%, rgba(30, 26, 26, 0.6) 100%);
    backdrop-filter: blur(48.5px);
    cursor: pointer;
    transition: all 0.5s ease;


    &:hover {
      // -webkit-box-shadow: 0px 0px 10px 0px var(--gold);
      // -moz-box-shadow: 0px 0px 10px 0px var(--gold);
      // box-shadow: 0px 0px 10px 0px var(--gold);

      #{$this}__image {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }

  &__name {
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #DBDBDB;
  }

  &__price {
    font-family: 'Montserrat';
    background: linear-gradient(0deg, #DFBB71, #DFBB71), linear-gradient(90deg, #F09819 0%, #EDDE5D 100%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
    margin-bottom: 15px;
  }

  &__label {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__label-text {
    position: absolute;
    top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

}
</style>
