<template>
  <div class="hookah">
    <Transition>
      <ModalPhoto v-model:show="dialogVisible">
        <div class="hookah__photo">
          <h2 class="hookah__photo-title">{{ hookah.name }}</h2>
          <img class="hookah__photo-img" :src="bigImage">
        </div>
      </ModalPhoto>
    </Transition>
    <h2 class="hookah__title">{{ hookah.name }}</h2>
    <img :src="image" alt="">
    <div class="hookah__slider">
      <swiper :style="{
        '--swiper-navigation-color': '#fff',
        '--swiper-pagination-color': '#fff',
      }" @swiper="setMainSwiper" :spaceBetween="10" :navigation="true" :thumbs="{ swiper: thumbsSwiper }"
        :modules="modules" @slideChange="onSlideChange" class="mySwiper2">
        <swiper-slide @click="getImage(slide)" v-for="(slide, slideIndex) in hookah.images" :key="slideIndex"><img
            class="hookah__image" :src="slide" /></swiper-slide>
      </swiper>
      <swiper @swiper="setThumbsSwiper" :spaceBetween="10" :slidesPerView="4" :freeMode="true" :watchSlidesProgress="true"
        :modules="modules" class="mySwiper">
        <swiper-slide @click="setActiveSlide(thumbIndex)" v-for="(thumb, thumbIndex) in hookah.images"
          :key="thumbIndex"><img :src="thumb" /></swiper-slide>
      </swiper>
    </div>
    <p class="hookah__price">{{ hookah.cost }}AED</p>
    <p class="hookah__text">{{ hookah.title }}</p>
    <div class="hookah__other">
      <p class="hookah__subtitle">Other hookahs</p>
      <OtherHookahs :hookahs="hookahs" :currenHookah="currenHookah" />
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { ref, computed, onMounted } from "vue";
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import "swiper/css/free-mode"
import "swiper/css/navigation"
import "swiper/css/thumbs"

// import required modules
import { FreeMode, Navigation, Thumbs } from 'swiper';
import OtherHookahs from "@/components/OtherHookahs.vue";
import ModalPhoto from "@/components/ModalPhoto.vue";
import Icon from "@/components/Icon.vue";
let mainSwiper = null;
let thumbsSwiper = null;
let dialogVisible = ref(false)

const props = defineProps({
  currenHookah: {
    type: Number,
  },
  hookahs: {
    type: Array,
  },
});

const openDialog = (id) => {
  console.log(33);
  console.log(dialogVisible.value);
  dialogVisible.value = true;
}

const setMainSwiper = (swiper) => {
  mainSwiper = swiper;
}
const setThumbsSwiper = (swiper) => {
  thumbsSwiper = swiper;
}

const onSlideChange = () => {
  thumbsSwiper.activeIndex = mainSwiper.activeIndex
  console.log(mainSwiper.activeIndex);
  console.log(thumbsSwiper.activeIndex);
};

const setActiveSlide = (index) => {
  mainSwiper.activeIndex = index;
  thumbsSwiper.activeIndex = index;
  mainSwiper.update()
  thumbsSwiper.update()
};

const hookah = ref({})
const bigImage = ref('')
const image = ref('')

const fetching = async () => {
  try {
    const response = await axios.get(`https://app.smokyhookah.ae/api/view/${props.currenHookah}`)
    hookah.value = response.data;
    console.log(hookah.value);
  } catch (e) {
    console.log(e);
  } finally {

  }
}

const getImage = (id) => {
  dialogVisible.value = true;
  bigImage.value = id
}
const modules = [FreeMode, Navigation, Thumbs]



onMounted(fetching)


</script>

<style lang="scss" scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.hookah {
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow-y: scroll;
  height: 100%;
  padding: 0 36px;
  position: relative;

  @media (max-width: 500px) {
    padding: 0 16px;
  }

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    &-title {
      position: absolute;
      top: 30px;
    }

    &-img {
      max-height: 80vh;
    }
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #DBDBDB;
    padding-top: 35px;
    padding-bottom: 31px;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__slider {
    display: block;
    width: calc(100vw - 200px);
    padding-right: 36px;

    @supports (-webkit-touch-callout: none) {

      height: -webkit-fill-available;

    }

    @media (max-width: 500px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #DFBB71;
    padding-top: 20px;
    text-align: center;
  }

  &__image {
    max-width: 800px;
    // max-height: 496px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 14px;
    text-align: center;
    padding-right: 36px;
    max-width: calc(100vw - 200px);

    @media (max-width: 500px) {
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__other {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 32px;
    width: 100%;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 17px;
  }
}

.swiper {
  width: 100%;
  display: flex;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #191818;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  // max-height: 496px !important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 20px 0;
}

.mySwiper .swiper-slide {
  width: 92px !important;
  height: 92px;
  cursor: pointer;
  // height: 100%;
  // opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
</style>
