<script setup lang="ts">
const props = defineProps({
  iconName: {
    type: String,
  },
});
</script>

<template>
  <svg class="icon">
    <use :href="`/sprite.svg#${props.iconName}`" />
  </svg>
</template>

<style lang="scss" scoped>
.icon {
  display: flex;
  width: 100%;
  height: 100%;

}
</style>
