<template>
  <div class="input">
    <p class="input__name" v-if="title">{{ props.title }}</p>
    <label class="input__wrapper" :class="{ 'is-area': textarea }">
      <textarea v-bind="$attrs" class="input__value is-area" v-if="textarea" @input="updateValue"></textarea>
      <input v-bind="$attrs" v-else class="input__value" :value="modelValue"
        @input="updateValue" />
    </label>

  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  title: {
    type: String,
  },
  textarea: {
    type: Boolean,
    default: false,
  },
  modelValue: {
    default: "",
  },
});
const emit = defineEmits(["update:modelValue"]);

const updateValue = (event: Event) => {
  emit("update:modelValue", (event.target as HTMLInputElement).value);
};
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  position: relative;
  $this: &;
  display: flex;
  flex-direction: column;


  &__name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #8A8A8A;
    padding-bottom: 8px;
  }

  &__wrapper {
    background: linear-gradient(#0000, #DFBB71);
    padding: 1px;

    &.is-area {

    }
  }

  &__value {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    padding: 20px 10px;   
    background: #0b0b0b;

    &.is-area {
      height: 105px;
    }


    &::placeholder {
      color: #8A8A8A;
    }

    &:hover {
      border-color: var(black);
    }
   
   
  }
}
</style>
