<template>
  <div class="main">
    <div class="main__slider">
      <swiper :style="{
        '--swiper-navigation-color': '#fff',
        '--swiper-pagination-color': '#fff',
      }" :navigation="true" :loop="true" @swiper="setMainSwiper" :direction="'horizontal'" :modules="modules"
        class="mySwiper">
        <swiper-slide><video class="main__video" autoplay :muted="videoMuted" playsinline loop id="myVideo">
            <source src="/bg-2.mp4" type="video/mp4">
          </video>
          <div class="main__audio" @click="videoMuted = !videoMuted">
            <div class="main__audio-icon" v-if="!videoMuted">
              <Icon iconName="audio-on" />
            </div>
            <div class="main__audio-icon" v-if="videoMuted">
              <Icon iconName="audio-off" />
            </div>
          </div>
        </swiper-slide>
        <!-- <swiper-slide><img class="main__image" src="/main.png"></swiper-slide>
        <swiper-slide><img class="main__image" src="/slider-img.png"></swiper-slide> -->
      </swiper>
    </div>
    <a href="#about" class="main__nav">
      <p class="main__notice">Swipe down</p>
      <img class="main__icon" src="/arrow-bottom.svg" alt="">
      <img class="main__icon small" src="/arrow-bottom.svg" alt="">
    </a>
  </div>
</template>


<script setup>
import { ref, onMounted } from "vue";
import { Swiper, SwiperSlide } from 'swiper/vue';
import { FreeMode, Navigation, Thumbs } from 'swiper';
import 'swiper/css';
import "swiper/css/navigation"

import Icon from "@/components/Icon.vue";

let mainSwiper = null;

const videoMuted = ref(true);

const setMainSwiper = (swiper) => {
  mainSwiper = swiper;
}
const modules = [FreeMode, Navigation, Thumbs]

const nextSlide = () => {
  mainSwiper.slideNext()
}
</script>

<style lang="scss" scoped>
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  display: block;
  position: relative;

  &__slider {
    height: 100vh;

    @supports (-webkit-touch-callout: none) {

      height: -webkit-fill-available;

    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
  }

  &__audio {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;

    @media (max-width: 500px) {
      top: 130px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      color: #fff;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available;
    }
  }

  &__video {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available;
    }
  }

  &__nav {
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    // cursor: pointer;

    // @media (max-width: 500px) {
    //   flex-direction: row;
    //   justify-content: center;
    // }
  }

  &__notice {
    color: white;
  }

  &__icon {
    width: 24px;
    height: 24px;

    // @media (max-width: 500px) {
    //   transform: rotate(-90deg);
    // }

    &.small {
      position: absolute;
      bottom: -5px;
      width: 16px;
      height: 16px;

      // @media (max-width: 500px) {
      //   position: relative;
      //   bottom: 0;
      //   margin-left: -12px;
      // }
    }
  }
}
</style>