<template>
  <div class="dialog" v-if="show" @click.stop="hideDialog">
    <div @click.stop class="dialog__content">
      <img src="/close.svg" class="dialog__icon" @click="hideDialog">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import toggleMixin from '@/mixins/toggleMixin'
import { useMagicKeys, useScrollLock } from "@vueuse/core";
// export default {
//   name: 'MyDialog',
//   mixins: [toggleMixin]
// }
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideDialog() {
      this.$emit('update:show', false)
      document.querySelector("body").classList.remove("blocked-scroll");
    }
  },
  watch: {
    show(newValue) {
      if (newValue) {
        document.querySelector("body").classList.add("blocked-scroll");
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: fixed;
  display: flex;
  z-index: 100;

  &__content {
    margin-left: 153px;
    background: #0b0b0b;
    width: 100%;

    @media (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 100;
  }
}
</style>