<template>
  <div class="dialog" v-if="show" @click.stop="hideDialog">
    <div @click.stop class="dialog__content">
      <img src="/close.svg" class="dialog__icon" @click="hideDialog">
      <slot></slot>
    </div>
  </div>
</template>

<script >
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideDialog() {
      this.$emit('update:show', false)
      console.log('photo');
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: fixed;
  display: flex;
  z-index: 100;

  &__content {
    background: #0b0b0b;
    width: 100%;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 1000;
  }

}
</style>