<template>
  <div class="modal">
    <teleport to="body">
      <Transition name="modal">
        <div
          class="modal__body"
          v-if="modal.state === modalName"
          @click.self="closeModal"
        >
          <Transition name="slide-right">
            <div class="modal__content" v-if="viewContent">
              <!-- <button class="modal__close" @click="closeModal">
                <iconClose />
              </button> -->
              <slot></slot>
            </div>
          </Transition>
        </div>
      </Transition>
    </teleport>
  </div>
</template>

<script setup>
import { watch, ref, defineProps } from "vue";
import { useModal } from "@/store/modal";
import { useMagicKeys, useScrollLock } from "@vueuse/core";

// import iconClose from "@/assets/images/icon-close.svg";

const props = defineProps({
  modalName: {
    type: String,
  },
});

const modal = useModal();
const viewContent = ref(false);

const body = document.querySelector("body");
const isLocked = useScrollLock(body);
const scrollbarWidth =
  parseInt(window.innerWidth) - parseInt(document.documentElement.clientWidth);

const closeModal = () => {
  viewContent.value = false;
  setTimeout(() => {
    modal.state = false;
    isLocked.value = false;
  }, 200);
};

// закрытие на ескейп
const { Escape } = useMagicKeys();
watch(Escape, (value) => {
  if (value) {
    closeModal();
  }
});

// открытие
watch(
  () => modal.state,
  (value) => {
    if (value === props.modalName) {
      isLocked.value = true;

      setTimeout(() => {
        viewContent.value = value;
      }, 200);
    }
  }
);

// добавление отступа при открытии
watch(isLocked, (value) => {
  value
    ? (body.style.paddingRight = `${scrollbarWidth}px`)
    : (body.style.paddingRight = "0px");
});
</script>

<style lang="scss" scoped>
.modal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: fixed;
  display: flex;
  z-index: 100;

  &__content {
    margin-left: 153px;
    background: #0b0b0b;
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 100;
  }
}
</style>
