<template>
  <div class="nav">
    <div class="nav__desctop">
      <img class="nav__background" src="/background.png" alt="">
      <a href="#main" class="nav__item">
        <img src="/logo-small.png" alt="">
      </a>
      <a href="#main" class="nav__item" :class="{ 'is-active': activeTab == 'main' }">
        <div class="nav__icon">
          <Icon iconName="home" />
        </div>
        <p class="nav__text">Home</p>
      </a>
      <a href="#about" class="nav__item" :class="{ 'is-active': activeTab == 'about' }">
        <div class="nav__icon">
          <Icon iconName="user" />
        </div>
        <p class="nav__text">About</p>
      </a>      
      <a href="#hookahs" class="nav__item" :class="{ 'is-active': activeTab == 'hookahs' }">
        <div class="nav__icon">
          <Icon iconName="hookahs" />
        </div>
        <p class="nav__text">Our hookahs</p>
      </a>
      <a href="#services" class="nav__item" @click="opened = !opened" :class="{ 'is-active': activeTab == 'services' }">
          <div class="nav__icon">
            <Icon iconName="services" />
          </div>
          <p class="nav__text">Services</p>
        </a>
      <a href="#contacts " class="nav__item" :class="{ 'is-active': activeTab == 'contacts' }">
        <div class="nav__icon">
          <Icon iconName="profile" />
        </div>
        <p class="nav__text">Contacts</p>
      </a>
    </div>
    <div class="nav__mobile">
      <div class="nav__header">
        <img src="/logo-small.png" alt="">
        <div class="nav__icon menu" @click="opened = !opened">
          <Icon iconName="menu" />
        </div>
      </div>
      <div class="nav__content" :class="{ 'opened': opened }">
        <a href="#main" class="nav__item" @click="opened = !opened" :class="{ 'is-active': activeTab == 'main' }">
          <div class="nav__icon">
            <Icon iconName="home" />
          </div>
          <p class="nav__text">Home</p>
        </a>
        <a href="#about" class="nav__item" @click="opened = !opened" :class="{ 'is-active': activeTab == 'about' }">
          <div class="nav__icon">
            <Icon iconName="user" />
          </div>
          <p class="nav__text">About</p>
        </a>
        <a href="#hookahs" class="nav__item" @click="opened = !opened" :class="{ 'is-active': activeTab == 'hookahs' }">
          <div class="nav__icon">
            <Icon iconName="hookahs" />
          </div>
          <p class="nav__text">Our hookahs</p>
        </a>
        <a href="#services" class="nav__item" @click="opened = !opened" :class="{ 'is-active': activeTab == 'services' }">
          <div class="nav__icon">
            <Icon iconName="services" />
          </div>
          <p class="nav__text">Services</p>
        </a>
        <a href="#contacts " class="nav__item" @click="opened = !opened"
          :class="{ 'is-active': activeTab == 'contacts' }">
          <div class="nav__icon">
            <Icon iconName="profile" />
          </div>
          <p class="nav__text">Contacts</p>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import Icon from "@/components/Icon.vue";

const activeTab = ref('main')
const opened = ref(false)

onMounted(() => {
  const smoothLinks = document.querySelectorAll('a[href^="#"]');
  console.log(smoothLinks);
  for (let smoothLink of smoothLinks) {
    smoothLink.addEventListener('click', function (e) {
      e.preventDefault();
      const id = smoothLink.getAttribute('href');

      document.querySelector(id).scrollIntoView({
        behavior: 'smooth',
        block: 'start'
      });
    });
  };
  let sections = document.querySelectorAll('.page__section')
  window.addEventListener('scroll', () => {
    for (let i = 0; i < sections.length; i++) {
      if (sections[i].offsetTop - 60 <= document.documentElement.scrollTop) {
        activeTab.value = sections[i].id
      }
    }
  })
})
</script>

<style lang="scss">
.nav {
  $this: &;
  width: 100%;

  &__desctop {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;

    @supports (-webkit-touch-callout: none) {

      height: -webkit-fill-available;

    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    position: relative;

    @media (max-width: 500px) {
      display: block;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    padding-right: 30px;
    justify-content: space-between;
    background: #0b0b0b;
    overflow: hidden;
    z-index: 3;
    position: relative;
  }

  &__content {
    background: #0b0b0b;
    padding-bottom: 60px;
    // top: 100px;
    left: -100vw;
    width: 100%;
    opacity: 0;
    height: 100vh;
    position: absolute;
    transform: translateY(-100px);
    z-index: -100;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.opened {
      left: 0;
      transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }
  }


  &__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;

    @supports (-webkit-touch-callout: none) {

      height: -webkit-fill-available;

    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &+& {
      padding-top: 20px;
    }

    &:nth-child(3) {
      padding-top: 20px;
    }


    &.is-active {
      #{$this}__icon {
        color: var(--gold);
      }

      #{$this}__text {
        color: var(--gold);

        &::before {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: var(--gold);
          content: '';
          bottom: 5px;
          left: -14px;
        }
      }
    }

    &:hover {
      #{$this}__icon {
        color: var(--gold);
      }

      #{$this}__text {
        color: var(--gold);
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    color: var(--white);
    transition: color 0.3s ease;

    &.menu {
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--white);
    padding-top: 6px;
    transition: color 0.3s ease;
    position: relative;
    font-family: 'Raleway';
  }
}
</style>