<template>
  <div class="other-hookahs">
    <swiper :slidesPerView="5" :spaceBetween="15" :breakpoints="{ 100: { slidesPerView: 1 }, 400: { slidesPerView: 5 } }"
      :pagination="{
        clickable: true,
      }" :modules="modules" class="mySwiper">
      <swiper-slide v-for="(hookah, index) in otherHookahs" :key="index">
        <div class="other-hookahs__item" @click="openDialog(hookah.id)">
          <div class="other-hookahs__cover">
            <img class="other-hookahs__image" :src="hookah.image">
          </div>
          <p class="other-hookahs__text">{{ hookah.name }}</p>
          <p class="other-hookahs__price">{{ hookah.cost }} AED</p>
        </div>
      </swiper-slide>
    </swiper>
    <Transition>
      <Modal v-model:show="dialogVisible">
        <Hookah :currenHookah="currenHookah" :hookahs="hookahs" />
      </Modal>
    </Transition>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import "swiper/css/free-mode"
import "swiper/css/navigation"
import Modal from '@/components/Modal.vue'
import Hookah from '@/components/Hookah.vue'


const props = defineProps({
  hookahs: {
    type: Array,
  },
  currenHookah: {
    type: Number,
  },
});

const otherHookahs = computed(() => {
  return props.hookahs.filter((el) => el.id !== props.currenHookah);
})
let dialogVisible = ref(false)
const currenHookah = ref(null)

const openDialog = (id) => {
  currenHookah.value = id
  dialogVisible.value = true;
}
let swiperSlider = null;
const setSwiper = (swiper) => {
  swiperSlider = swiper;
}
</script>

<style lang="scss" scoped>
.other-hookahs {
  $this: &;
  padding-bottom: 32px;

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0.6) 0%, rgba(30, 26, 26, 0.6) 100%);
    backdrop-filter: blur(48.5px);

    &:hover {
      // -webkit-box-shadow: 0px 0px 10px 0px var(--gold);
      // -moz-box-shadow: 0px 0px 10px 0px var(--gold);
      // box-shadow: 0px 0px 10px 0px var(--gold);

      #{$this}__image {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    overflow: hidden;
  }

  &__image {
    transition: transform 0.5s ease;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #DBDBDB;
    padding-top: 10px;
  }

  &__price {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #DFBB71;
    padding: 10px 0 20px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 140px !important;
  // height: 194px;

  @media (max-width: 500px) {
    max-width: 140px !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>

