<template>
  <div class="services">
    <div class="services__item" v-for="(service, index) in services" :key="index">
      <p class="services__title">{{ service.name }}</p>
      <div class="services__container">
        <img class="services__image" :src="service.image" alt="">
        <p class="services__description">{{ service.description }}</p>
      </div>
    </div>
  </div>
</template>


<script setup >
import { ref } from "vue";

import Modal from '@/components/Modal.vue'
import Hookah from '@/components/Hookah.vue'

const props = defineProps({
  services: {
    type: Array,
  },
});
</script>

<style lang="scss" scoped>
.services {
  $this: &;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;

  @media (max-width: 500px) {
    padding: 0;
    gap: 60px;
  }


  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px;

    @media (max-width: 500px) {
      padding: 0;
    }

    // background: linear-gradient(180deg, rgba(39, 39, 39, 0.6) 0%, rgba(30, 26, 26, 0.6) 100%);
    // backdrop-filter: blur(48.5px);



    &:nth-child(even) {
      #{$this}__container {
        flex-direction: row-reverse;

      }
    }
  }

  &__title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 16px;

    @media (max-width: 500px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 36px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    // gap: 20px;
    @media (max-width: 500px) {
      flex-direction: column !important;
    }
  }

  &__image {
    width: 50%;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__description {
    // font-size: 20px;
    padding: 0 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    @media (max-width: 500px) {
      padding: 0 24px;
      // padding-top: 20px;
      // text-align: center;
      position: absolute;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
    }
  }
}</style>