<template>
  <div class="page">
    <div class="page__nav">
      <Nav />
    </div>
    <div class="page__body">
      <div class="page__section" id="main">
        <Main />
      </div>
      <div class="page__section" id="about">
        <h2 class="page__title">About</h2>
        <About :description="about.description" />
      </div>
      <div class="page__section" id="hookahs">
        <h2 class="page__title">Our hookahs</h2>
        <Hookahs :hookahs="hookahs" />
      </div>
      <div class="page__section" id="services">
        <h2 class="page__title">Services</h2>
        <Services :services="services" />
      </div>
      <div class="page__section" id="contacts">
        <h2 class="page__title">Contacts</h2>
        <Contacts :contacts="about" />
      </div>
      <div class="page__section">
        <Footer />
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { ref, onMounted } from "vue"
import { useMeta } from 'vue-meta'

import Nav from '@/components/Nav.vue'
import Main from '@/components/Main.vue'
import About from '@/components/About.vue'
import Hookahs from '@/components/Hookahs.vue'
import Services from '@/components/Services.vue'
import Contacts from '@/components/Contacts.vue'
import Footer from '@/components/Footer.vue'
const meta = useMeta({ title: 'Some Page' })
const hookahs = ref([])
const about = ref({})
const services = ref([])
const fetching = async () => {
  try {
    const response = await axios.get('https://app.smokyhookah.ae/api/list', { params: { _page: 1, _per_pagea: 10 } })
    const response2 = await axios.get('https://app.smokyhookah.ae/api/about')
    const response3 = await axios.get('https://app.smokyhookah.ae/api/list-services')
    hookahs.value = response.data;
    about.value = response2.data;
    services.value = response3.data;
  } catch (e) {
    alert("Ошибка")
  } finally {
  }
}

onMounted(fetching)
</script>

<style scoped lang="scss">
.page {
  // display: flex;
  position: relative;

  &__nav {
    position: fixed;
    width: 153px;

    @media (max-width: 500px) {
      width: 100%;
      z-index: 100;
    }
  }

  &__body {
    margin-left: 153px;
    // background: #0b0b0b;
    background: black;

    @media (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__section {
    &+& {
      padding-top: 60px;

      @media (max-width: 500px) {
        padding-top: 32px;
      }
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 25px;
    text-align: center;
  }
}
</style>
